!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Swimmit
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    %script{src: 'http://code.jquery.com/ui/1.10.3/jquery-ui.js'}
    = csrf_meta_tags

  .container
    = render 'shared/nav'
    %body
      %p.notice= notice
      %p.alert= alert
      = yield
